
body{
    font-family: 'Young Serif', serif;  
}
.card {
    width: 18%;
    border: 1px solid black;
    padding: 20px 30px ;
    margin: 100px auto;
    border-radius: 10px;
    text-align: center;
    background-color: #4158D0;
    background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);

}
.card h3{
    font-weight: 300;
    color: white;
}
.card img{
    width: 100%;
}
.card p{
    font-size: 20px;
    color: white;
}
.card a{
    text-decoration: none;
    border: 2px solid;
    padding: 5px 10px;
    color: white;
    border-radius: 7px;
    display: inline-block;
    margin-block: 20px;
}
.card a:hover{
    background-color: #FFCC70;
    color: white;

}
.card:hover{
    -webkit-box-shadow: 10px 7px 20px 4px rgba(0,0,0,0.81);
    -moz-box-shadow: 10px 7px 20px 4px rgba(0,0,0,0.81);
    box-shadow: 10px 7px 20px 4px rgba(0,0,0,0.81);
}